<section class="z-depth-3" id="splash-blue">
  <div class="container">
    <div class="row hero-home">
      <div class="col m10 offset-m1 s12 l10 offset-l1">
        <h1 class="white-text main-title"><%= @post.title %></h1>
        <div class="row">
          <div class="col offset-m4 m4">
            <%= link_to "Edit Post", edit_post_path(@post), { class: "btn btn-large full-width waves-effect waves-light yellow darken-2 segment-track-start" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<p><%= @post.body %></p>
